
[parity]
# Parity databases will be stored in /parity/chain.
db_path = "/root/chain"
# Your encrypted private keys will be stored in /parity/keys.
keys_path = "/root/keys"

[rpc]
disable = false
# JSON-RPC over HTTP will be accessible on port 8545.
port = 8545
#  JSON-RPC will be listening for connections on IP all.
interface = "0.0.0.0"
# Allows Cross-Origin Requests from domain '*'.
cors = "*"
# Allow connections only using specified addresses.
hosts = ["all"]
# Only selected APIs will be exposed over this interface.
apis = ["web3", "eth", "net", "parity", "traces", "rpc", "secretstore"]

[websockets]
# JSON-RPC over WebSockets will be accessible on port 8547.
port = 8546
#  JSON-RPC will be listening for connections on IP all.
interface = "0.0.0.0"
# Allows connecting from Origin 'all'.
origins = ["all"]
# Allow connections only using specified addresses.
hosts = ["all"]
# Only selected APIs will be exposed over this interface.
apis = ["web3", "eth", "net", "parity", "traces", "rpc", "secretstore"]

[ipc]
disable = false
path = "$HOME/.local/share/io.parity.ethereum/jsonrpc.ipc"
apis = ["web3", "eth", "net", "parity", "traces", "rpc", "secretstore"]

[dapps]
# You won't be able to access any web Dapps.
disable = false

[footprint]
cache_size = 1024

[ui]
#  Wallet will listen for connections on IP 0.0.0.0.
interface = "0.0.0.0"
hosts = ["all"]
no-validation = true